<h1><a href="/">{{msg}}</a></h1>

<div class="container">

    <div class="row mt-4">
        <div class="col">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">Add Task</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#view-chart">View Tasks and Goals Chart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#view-tasks">View Task Entries</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane container active" id="home">
                    <div class="row mt-4">
                        <div class="col-md-6 offset-md-3">
                            <form class="clearfix mb-4" action="POST">
                                <div class="form-group">
                                    <h2>Add Task Entry:</h2>
                                    <div class="form-group">
                                        <input type="text" id="task-date" class="form-control"
                                            aria-describedby="task-date" hidden>
                                    </div>
                                    <div class="form-group">
                                        <label for="task-minutes">Minutes Spent on Task</label>
                                        <input type="text" id="task-minutes" class="form-control"
                                            aria-describedby="task-minutes">
                                    </div>
                                    <div class="form-group">
                                        <label for="task-category">Task Category</label>
                                        <select class="form-control" id="task-category">
                                            <option value="homework" selected>Homework</option>
                                            {{!-- More categories to be added. --}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="task-goal">Task Goal (in minutes)</label>
                                    <input class="form-control" id="task-goal" aria-describedby="task-goal">
                                </div>
                                <button id="submit" class="btn btn-primary float-right">Add Task</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane container fade" id="view-chart">
                    <div class="row">
                        <div class="col-md-10 offset-1">
                            <div id="chart-container">
                                <canvas id="mycanvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane container fade" id="view-tasks">
                    <div class="row">
                        <div class="col-md-6 offset-3">
                            <h3>Current time entries:</h3>
                            <ul id="task-list" class="list-group">
                                {{#each tasks}}
                                <li data-id="{{this.id}}">
                                    Date: {{this.task_date}}<br>
                                    Minutes: {{this.task_minutes}}<br>
                                    Category: {{this.task_category}}<br>
                                    Goal: {{this.task_goal}}
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>