<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>ID</strong>: {{task.id}}</p>
          <p>
          <p>
            <strong>Minutes:</strong>: {{task.task_minutes}}</p>
          <p>
            <strong>Goal:</strong> {{task.task_goal}}</p>
            <p>{{task.task_date}}</p>
            <p>{{task.task_category}}</p>
            <a href="/">â† Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
